<item uid="{{ path }}" arg="{{ path }}" valid="YES" autocomplete="{{ name }}">
  <title>{{ name }}</title>
  <subtitle>{{ path }}</subtitle>
  <subtitle mod="shift">Subtext when shift is pressed</subtitle>
  <subtitle mod="fn">Subtext when fn is pressed</subtitle>
  <subtitle mod="ctrl">Subtext when ctrl is pressed</subtitle>
  <subtitle mod="alt">Subtext when alt is pressed</subtitle>
  <subtitle mod="cmd">Subtext when cmd is pressed</subtitle>
  <text type="copy">{{ path }}</text>
</item>
